@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 26 28% 7%;
    --foreground: 0 0% 98%;

    --card: 35 35% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 35 35% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 22 100% 54%;
    --primary-foreground: 0 0% 98%;

    --secondary: 33 43% 17%;
    --secondary-foreground: 0 0% 98%;

    --muted: 33 43% 17%;
    --muted-foreground: 0 0% 65%;

    --accent: 22 100% 54%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 33 43% 17%;
    --input: 33 43% 17%;
    --ring: 22 100% 54%;

    --radius: 0.5rem;

    --sidebar-background: 26 28% 7%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 22 100% 54%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 33 43% 17%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 33 43% 17%;
    --sidebar-ring: 22 100% 54%;
  }

  .dark {
    --background: 26 28% 7%;
    --foreground: 0 0% 98%;

    --card: 35 35% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 35 35% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 22 100% 54%;
    --primary-foreground: 0 0% 98%;

    --secondary: 33 43% 17%;
    --secondary-foreground: 0 0% 98%;

    --muted: 33 43% 17%;
    --muted-foreground: 0 0% 65%;

    --accent: 22 100% 54%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 33 43% 17%;
    --input: 33 43% 17%;
    --ring: 22 100% 54%;
    --sidebar-background: 26 28% 7%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 22 100% 54%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 33 43% 17%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 33 43% 17%;
    --sidebar-ring: 22 100% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
